<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    <script type="text/javascript" src="parseStuff.js"></script>
</head>
<body ng-controller="loginController">
    <input type="text" placeholder="Username" ng-model="username">
    <input type="password" placeholder="Password" ng-model="password">
    <button ng-click="login()">Log in</button><br></body>
</html>